.HomePage {
  .header {
    color: #ffffff;
  }
  .btn-div {
    margin: 20rem 40% 0 30%;
  }
  .header-background {
    height: 100vh;
    background-image: url("../static/header-background.webp");
    background-size: cover;
  }

  .header-title {
    position: relative;
    margin: 0;
    padding: 12rem 0 0;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0.1rem 0.1rem 0.1rem gray;
  }

  .product-name {
    font-family: "Vollkorn SC";
    font-size: 3rem;
    color: rgb(3, 102, 3);
  }
  // 기능 소개 공통
  .content {
    background-color: #eaeaff;
    font-family: "IBMPlexSansKR";
  }

  .content-container {
    width: 970px;
    margin: 0 auto;
  }
  // 서버 모니터링
  .server-monitoring {
    display: flex;
    padding: 50px 0;
  }

  .images {
    width: 390px;
    height: 260px;
  }

  .feature-info {
    margin: auto;
    text-align: left;
  }

  .feature-name {
    color: rgb(3, 102, 3);
    font-weight: 600;
    margin: 0;
  }
  
  .feature-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 0;
  }
  // 시나리오 테스트
  .scenario-test {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 0;
  }
}
